:root {
	--orange: #ff6600;
	--primary-gray: #191919;
	--secondary-gray: #212121;
	--text-primary: #ffffff;
	--btn-edge: #b85a0d;
}

* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--primary-gray);
	font-family: 'Lexend Variable', sans-serif;
}
